* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: sans-serif;
}

#main {
    background-color: #eee;
    width: 80%;
    min-height: 100vh;
    margin: 30px auto;
    padding: 20px;
    border-radius: 4px;
}

h1,
h2 {
    text-transform: uppercase;
}

h1,
h2,
p {
    text-align: center;
    margin: 18px 0;
}

h3 {
    margin-top: 40px;
    text-align: center;
}

#img-div {
    width: 100%;
    background: linear-gradient(#eee, #fff);
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 8px;
}

#img-caption {
    text-align: center;
    margin-top: 8px;
}

#tribute-info {
    width: 80%;
    margin: 0 auto 40px;
}

#tribute-info ul li {
    margin: 16px 0;
}

#tribute-info blockquote {
    margin-top: 40px;
}

#tribute-info blockquote cite {
    display: block;
    margin: 16px 0;
}
